<p style="color: green"><%= notice %></p>
<div>
  <p>
    <strong>Nome:</strong>
    <%= @member.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @member.email %>
  </p>

 

</div>

<div>
  <%= link_to "Back to Members", members_path %>
</div>
